Skip to content
This repository  
Explore
Gist
Blog
Help
@lucasboko lucasboko

Unwatch 2
Star 0
Fork 0
wallacemccain/cousins-website
branch: master  cousins-website/app/views/programs/_form.html.erb
@lucasbokolucasboko on 29 Mar Update _form.html.erb
2 contributors @dackerson @lucasboko
RawBlameHistory     147 lines (140 sloc)  8.92 kB
<div class="container wrapper"> 
    <!-- Instructions for admin side-->
    <div class="col-md-12" style="margin-bottom:10px;color: #666;font-size: 1.1em;border: 1px solid #fff;border-radius: 8px;background-color:white;">
        <div class="col-md-4">
            <ul class="" style="margin: 20px 0;">
                <li>Please be specific in regards to your programs. Do not simply select all options to cast a wide net.</li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="" style="margin: 20px 0;">
                <li>We will not publish organization names, but rather the name of the PROGRAM
                    that the organization offers. E.g. TME Summer Institute not just UNB or TME.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="" style="margin: 20px 0;">
                <li>Once you submit your listing CHANGES CANNOT BE MADE, the post must be
                    deleted and re-submitted to make any changes.</li>

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= form_for(@program) do |f| %>
            <% if @program.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

                <ul>
                    <% @program.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <!-- Nav tabs -->
            <!--                    <ul class="nav  nav-pills" role="tablist">
                                            <li class="active"><a style="color:  #66c666;"  id="generalinfo" href="#home" role="tab" data-toggle="tab">General Info</a></li>
                                            <li><a  style="color: #f7ae11;" href="#profile" id="questionanswer" role="tab" data-toggle="tab">Choose your answers</a></li>
                                        </ul>-->

            <!-- Tab panes -->
            <div class="tab-content" style="padding-top:5px;">
                <div class="tab-pane active" id="home">
                    <span id='title-green'>General Information</span>
                    <div class="row">
                        <div class="col-md-12 intro-text getlisted-general-info">
                            <div class="form-group">
                                <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Program Name' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :website, class: 'form-control input-lg', placeholder: 'Website URL' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_name, class: 'form-control input-lg', placeholder: 'Contact Person' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_phone, class: 'form-control input-lg', placeholder: 'Phone Number' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_email, class: 'form-control input-lg', placeholder: 'Contact Email' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_area :desc, class: 'form-control input-lg', placeholder: 'Description' %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">                                                   
                            <button id="getlisted-QA" type="button" style="float: right" class="btn btn-default btn-lg btn-block">Next <%= image_tag 'rsz_next.png' %></button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="panel-group" id="accordion">
                        <p id='title-orange'>Choose your matching answers</p>
                        <% Question.all.each do |question| %>
                        <div class="panel panel-default">
                            <div class="panel-heading survey-box" target="<%= "collapse" + question.id.to_s %>">
                                 <table style="width: 100%">
                                    <tr>
                                        <td >
                                            <a data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse" + question.id.to_s %>">
                                               <%= question.question_get_listed %>
                                        </a>
                                    </td>
                                    <td>                                                
                                        <span class="arrow-down"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="<%= "collapse" + question.id.to_s %>" class="panel-collapse collapse">
                             <div class="panel-body home-survey">
                                <div class="col-lg-12">
                                    <% Answer.where(question_id: question.id).each do |answer| %>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <label class="btn-block btn btn-lg btn-default label-choice <%= "collapse" + question.id.to_s + "OneBtn" %>" for="question_<%= question.id %>_<%= answer.id %>" data-value="<%= answer.id %>">
                                                           <input id="question_<%= question.id %>_<%= answer.id %>" type="checkbox" value="<%= answer.id %>" name="question[<%= question.id %>][]">
                                                        <%= answer.answer %>
                                                        </input>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2" style="">
                                            <div class="row">
                                                <button type="button" class="btn btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                <div class="answer-details-box pull-right" style="">
                                                    <%= answer.desc %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <% if @admin %>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <label class="btn btn-info btn-block btn-lg selectAll" target="<%= "collapse" + question.id.to_s + "OneBtn" %>" number="">
                                                           <input type="checkbox">Select All</input>
                                                    </label> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-md-4">                                                   
                        <button  style="margin-bottom: 10px;" type="button" id="getlisted-GI" style="float: left" class="btn btn-default btn-lg btn-block"><%= image_tag 'rsz_prev.png' %>Previous</button>

                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <%= f.submit class: "btn btn-green btn-success btn-lg btn-block" %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>
Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
