<div class="container wrapper">    
    <div class="row">
        <div class="col-md-12">
            <%= form_for(@program) do |f| %>
            <% if @program.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

                <ul>
                    <% @program.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <!-- Nav tabs -->
            <!--                    <ul class="nav  nav-pills" role="tablist">
                                            <li class="active"><a style="color:  #66c666;"  id="generalinfo" href="#home" role="tab" data-toggle="tab">General Info</a></li>
                                            <li><a  style="color: #f7ae11;" href="#profile" id="questionanswer" role="tab" data-toggle="tab">Choose your answers</a></li>
                                        </ul>-->

            <!-- Tab panes -->
            <div class="tab-content" style="padding-top:5px;">
                <div class="tab-pane active" id="home">
                <span id='title-green'>General Information</span>
                    <div class="row">
                        <div class="col-md-12 intro-text getlisted-general-info">
                            <div class="form-group">
                                <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Program Name' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :website, class: 'form-control input-lg', placeholder: 'Website URL' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_name, class: 'form-control input-lg', placeholder: 'Contact Person' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_phone, class: 'form-control input-lg', placeholder: 'Phone Number' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_field :contact_email, class: 'form-control input-lg', placeholder: 'Contact Email' %>
                            </div>
                            <div class="form-group">
                                <%= f.text_area :desc, class: 'form-control input-lg', placeholder: 'Description' %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">                                                   
                            <button type="button" id="getlisted-QA" style="float: right" class="btn btn-default btn-lg btn-block">Next <%= image_tag "rsz_next.png" %></button>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="panel-group" id="accordion">
                    <p id='title-orange'>Choose your matching answers</p>
                        <% Question.all.each do |question| %>
                        <div class="panel panel-default">
                            <div class="panel-heading survey-box" >
                                 <a data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse" + question.id.to_s %>">
                               <%= question.question %>
                            </a>
                        </div>
                        <div id="<%= "collapse" + question.id.to_s %>" class="panel-collapse collapse">
                             <div class="panel-body home-survey">
                                <div class="col-lg-12">
                                    <% Answer.where(question_id: question.id).each do |answer| %>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <label class="btn-block btn btn-lg btn-default label-choice" for="question_<%= question.id %>_<%= answer.id %>" data-value="<%= answer.id %>">
                                                        <input id="question_<%= question.id %>_<%= answer.id %>" type="checkbox" value="<%= answer.id %>" name="question[<%= question.id %>][]">
                                                        <%= answer.answer %>
                                                        </input>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2" style="">
                                            <div class="row">
                                                <button class="btn btn-link btn-block answer-details-btn-inactive"><strong>?</strong></button>
                                                <div class="answer-details-box pull-right" style="">
                                                    <%= answer.desc %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <% if @admin %>
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-10">
                                            <div class="row">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <label class="btn btn-info btn-block btn-lg selectAll" target="<%= "collapse" + question.id.to_s + "OneBtn" %>" number="">
                                                           <input type="checkbox">Select All</input>
                                                    </label> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-md-4">                                                   
                        <button  type="button" style="margin-bottom: 10px;" id="getlisted-GI" style="float: left" class="btn btn-default btn-lg btn-block"><%= image_tag "rsz_prev.png" %>Previous</button>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <%= f.submit class: "btn btn-green btn-success btn-lg btn-block" %>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>
