<h1>Search</h1>

<%= form_tag '/search', :method => :get do %>
<div class="field">
  <ul>
    <% Question.all.each do |question| %>
      <li>
      <%= label :question, question.question %>
      <ul>
        <%= collection_check_boxes :question, question.id, question.answers, :id, :answer, :include_hidden => false do |b| %>
          <li>
            <%= b.label(:"data-value" => b.value) { b.check_box(checked: (@answer_ids.include? b.value)) + b.text } %>
          </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  </ul>
</div>
<%= submit_tag 'Search' %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.desc %></td>
        <td><%= program.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>
