<!DOCTYPE html>
<html>
  <head>
    <title>Program Pointer</title>
    <%= stylesheet_link_tag    "application-admin", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application-admin", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover{
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 2px 1px 2px 1px #eee;
    }
    .nav-pills > li > a:hover{
      background-color: white;
      border: 1px solid #ccc;
    }
  </style>
  <body style="background-image:image_path('background.png');">
    <div class="navbar navbar-inverse navbar-fixed-top "  id="" style="" role="navigation">
      <span class="navbar-brand" id="site-title">Program Pointer Admin</span>
      <%= image_tag 'rsz_3home-img.png', class: "side-survey-btn-inactive", id: "side-survey-btn" %>
    </div>

    <div id="side-survey">
      <ul>
        <li><a href="adminhome.php">Listing</a></li>
        <li><a href="newprogram.php">New program</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>
